@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Source+Sans+Pro:400,600,700,900|IBM+Plex+Mono:600,600i');
@import 'select';
@import 'inputs';
@import 'text';
@import 'buttons';
@import 'links';
@import 'date-picker';

html{
  font-size: 16px;
}
html,
body {
  height: 100%;
}
.full-height {
  height: 100%;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#drift-widget-container {
  z-index: 700!important;
  &.drift-hidden {
    display: none;
  }
}

//Recaptcha style
.grecaptcha-badge {
  z-index: 200;
  bottom: 10px!important;
}

//Swipper style
.homepage-category {
  &__responsive {
    .swiper-wrapper {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 0;
    }
    .swiper-slide {
      height: 100%;
    }
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid $border-color;
  background: white;
  opacity: 1;
  &:hover {
    border: 1px solid $main-color;
  }
  &-active {
    border: none;
    background: $main-color;
  }
}
.homepage-slider-pagination {
  span {
    margin-left: 8px;
    cursor: pointer;
  }
}

//Cheat for open modal and hide scrollbal
.open-modal {
  overflow: hidden;
  padding-right: 16px;
  &--header {
    padding-right: 16px;
    &--mac {
      padding-right: 0;
    }
  }
  &--mac {
    padding-right: 0;
  }
  &--responsive {
    overflow: hidden;
  }
}

//Scrollbar style
.vb > .vb-dragger {
  z-index: 5;
  width: 4px;
  right: 4px;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
          background-color 100ms ease-out,
          margin 100ms ease-out,
          height 100ms ease-out;
  transition:
          background-color 100ms ease-out,
          margin 100ms ease-out,
          height 100ms ease-out;
  background-color: #bdbdbd;
  margin: 5px 0 0 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: $main-color;
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: $main-color;
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: $main-color;
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: $main-color;
}

//Google map style
.gm-style-pbc {
  z-index: 100!important;
}
.vue-map {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.custom-google-info {
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  background: $main-gradient;
  color: white;
  font-size: 12px;
  font-family: $montserrat-font;
  line-height: 18px;
  width: 145px;
  overflow: visible!important;
  .no-overflow {
    overflow: visible!important;
    div {
      overflow: visible!important;
    }
  }
  .content-info {
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
    &:after {
      content: "";
      position: absolute;
      bottom: -16px;
      left: calc(50% - 6px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 6px 0 6px;
      border-color: $main-color transparent transparent transparent;
    }
    &--icon {
      display: flex;
      align-items: center;
      svg {
        margin-right: 16px;
        width: 26px;
        height: 22px;
        fill: white;
      }
    }
  }
}
//toastr styling custom
.toast-warning {
  background-color: $warning;
}
.toast-info {
  background-color: #447FFF;
}
#toast-container > div {
  opacity: 1;
  box-shadow: 0px 2px 3.76px 0.24px rgba(0, 0, 0, 0.24),0px 1px 4.9px 0.1px rgba(0, 0, 0, 0.16);
}
#toast-container > .toast-warning {
  position: relative;
  padding: 16px 24px 16px 58px;
  background-image: url('~@/assets/images/warning-icon.png') !important;
  width: 320px;
  height: 100%;
  background-size: 27px;
  display: flex;
  align-items: center;
  color: white;
  font-family: $sours-sans-p-font;
  font-size: 14px;
  line-height: 18px;
}
#toast-container > .toast-info {
  position: relative;
  padding: 16px 24px 16px 58px;
  background-image: url('~@/assets/images/error-icon.png') !important;
  width: 320px;
  height: 100%;
  background-size: 27px;
  display: flex;
  align-items: center;
  color: white;
  font-family: $sours-sans-p-font;
  font-size: 14px;
  line-height: 18px;
}
#toast-container > :hover {
  box-shadow: 0px 2px 3.76px 0.24px rgba(0, 0, 0, 0.24),0px 1px 4.9px 0.1px rgba(0, 0, 0, 0.16);
}
button.toaster-close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 14px;
  height: 14px;
}


//Ais pagination styles
.ais-pagination {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  .ais-pagination__item + .ais-pagination__item {
    margin-left: 16px;
  }
  &__item {
    a {
      color: $main-grey;
      &:hover {
        color: $main-color;
      }
    }
    &--first {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: white;
        border: 1px solid $main-grey;
        border-radius: 4px;
        font-size: 16px;
        color: $main-grey;
        &:hover {
          border: 1px solid $main-color;
          color: $main-color;
        }
      }
    }
    &--last {
      margin-left: 8px!important;
     a {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 32px;
       height: 32px;
       background: white;
       border: 1px solid $main-grey;
       border-radius: 4px;
       font-size: 16px;
       color: $main-grey;
       &:hover {
         border: 1px solid $main-color;
         color: $main-color;
       }
     }
    }
    &--previous {
      margin-left: 8px!important;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: white;
        border: 1px solid $main-grey;
        border-radius: 4px;
        font-size: 16px;
        color: $main-grey;
        &:hover {
          border: 1px solid $main-color;
          color: $main-color;
        }
      }
    }
    &--next {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: white;
        border: 1px solid $main-grey;
        border-radius: 4px;
        font-size: 16px;
        color: $main-grey;
        &:hover {
          border: 1px solid $main-color;
          color: $main-color;
        }
      }
    }
    &--active {
      a {
        color: $main-color;
      }
    }
    &--disabled {

    }
  }
}

//preloader style
.__cov-progress {
  position: fixed;
  opacity: 1;
  z-index: 600!important;
  top: 158px!important;
  background: linear-gradient(to right, rgba(3,219,239,1) 0%, rgba(20,88,235,1) 100%);
}

//Braintree drop-in-ua
#dropin-container {
  margin-bottom: 64px;
  .braintree-placeholder {
    display: none;
  }
  [data-braintree-id="methods"] {
    .braintree-method {
      &__label {
        font-family: $montserrat-font;
        font-weight: 500;
        font-size: 16px;
        color: $main-dark;
      }
      &:focus {
        outline: none;
      }
      &--active {
        border-color: $main-color;
        border-width: 1px;
        .braintree-method__check {
          background-color: $main-color;
        }
        .braintree-method__label {
          font-weight: 500;
        }
      }
    }
  }

  .braintree-toggle {
    margin-top: 16px;
    padding: 0;
    background: white;
    &:focus {
      outline: none;
    }
    span {
      font-family: $sours-sans-p-font;
      font-weight: 400;
      font-size: 14px;
      color: $main-dark;
      border-bottom: 1px dashed $main-dark;
      cursor: pointer;
    }
    &:hover {
      span {
        color: $main-color;
        border-bottom: 1px dashed $main-color;
      }
    }
  }
  .braintree-heading {
    display: none;
  }
  .braintree-option {
    padding: 16px 16px;
    background-color: white;
    border-color: $grey;
    &__logo {
      width: 42px;
      height: 22px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &__label {
      font-family: $sours-sans-p-font;
      font-size: 16px;
      font-weight: 600;
      color: $main-dark;
    }
    &:hover {
      border-color: $main-color;
    }
    &:first-child {
      border-bottom-width: 0;
    }
  }
  .braintree-options-list {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      top: 55px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $interface-decoration-color;
    }
    &:hover {
      &:after {
        background: $main-color;
      }
    }
  }
//  Styles for braintree form
  .braintree-sheet {
    border: 1px solid $main-color;
    &__header {
     padding: 15px 16px 15px 16px;
      border-bottom: 1px solid $main-color;
    }
    &__header-label {
      padding-bottom: 0;
    }
    &__logo {
      &--header {
        width: 38px;
        height: 22px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    &__text {
      font-family: $sours-sans-p-font;
      font-size: 16px;
      font-weight: 600;
    }
    &__icons {
      padding-bottom: 0;
    }
    &__card-icon {
      width: 42px;
      height: 22px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &__content {
      &--form {
        padding: 32px 16px;
      }
    }
  }
  .braintree-form {
    label {
      width: 100%;
    }
    &__icon-container {
      [data-braintree-id="card-number-icon"] {
        margin-top: 5px;
       svg {
         width: 20px;
         height: 16px;
       }
      }
      [data-braintree-id="cvv-icon"] {
        margin-top: 5px;
        svg {
          width: 20px;
          height: 16px;
        }
      }
    }
    &__field-group {
      margin-bottom: 0;
      padding-left: 0;
    }
    &__label {
      margin-bottom: 12px;
      font-family: $sours-sans-p-font;
      color: $main-dark;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
    }
    &__hosted-field {
      border-radius: 4px;
      height: 40px;
      border: 1px solid $interface-decoration-color;
    }
    [data-braintree-id="number-field-group"] {
      margin-bottom: 24px;
    }
    [data-braintree-id="postal-code-field-group"] {
      margin-top: 24px;
    }
    [data-braintree-id="expiration-date-field-group"] {
      padding-right: 8px;
    }
    [data-braintree-id="cvv-field-group"] {
      padding-left: 8px;
    }
  }
}

.vue-slider-dot-handle {
  width: 20px;
  height: 20px;
  background: $main-gradient;
  border: 3px solid white;
}

.vue-slider-component .vue-slider-process{
  background-color: $main-color;
}
.vue-slider-component .vue-slider-tooltip-wrap {
  border: 1px solid $caption-text-color;
  background-color: $caption-text-color;
  border-radius: 4px;
}
.vue-slider-component .vue-slider-tooltip {
  border: 1px solid $caption-text-color!important;
  background-color: $caption-text-color!important;
  border-radius: 4px;
}

.custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: none;
}
.custom-control-input:checked ~ .custom-control-indicator{
  background-color: $main-color;
  width: 24px;
  height: 24px;
}
.custom-control-indicator{
  top:0;
  width: 24px;
  height: 24px;
}
.custom-control-description{
  margin-left: 16px;
}
.btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
   background-color: white;
   background-image: none;
   border-color: white;
 }
.recommended-btn{

  button{
  padding-bottom: 13px;
    &:after{
      vertical-align: 0.150em;
    }
  }
}
.slider-btn {
  border: 1px solid $border-color;
  color: $caption-text-color;
  height: 46px;
  padding: 16px;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  line-height: 0px;
  &.next {
    border-radius: 0px 5px 5px 0px;
  }
  &.prew {
    border-radius: 5px 0px 0px 5px;
  }
  &:hover {
    border: 1px solid $main-color;
    color: $main-color;
    background-color: inherit;
  }
}
.input-group {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid $caption-text-color;
  height: 46px;
  button{
    height: 46px;
    line-height: 50%;
  }
  &:hover {
    color: $main-color;
    border: 1px solid $main-color;
  }
  .action dropdown-item {
    z-index: 9999;
  }
}

.dropdown-toggle {
  background-color: white;
  color: $caption-text-color;
  border-left: none;
  border: none;
  height: 44px;
  &:hover{
    color: $main-color;
    background-color: white;
  }
  &:focus{
    color: $main-color;
    background-color: white;
  }
  &:active{
    color: $main-color;
    background-color: white;
    border: none;
    .dropdown-toggle {
      background-color: white;
      background-image: none;
    }
  }
}


.selects {
  font-size: 14px;
  width: 100%;
  padding: 16px;
  color: $main-dark;
  border: 1px solid $border-color;
  border-radius: 5px;
  border-right: none;

}
.button-action {
  button {
    padding: 16px;
  }
}

.logo-img {
  height: 40px;
  width: 136px;
  float: left;
}
.container-fluid {
  padding-right: 0px!important;
  padding-left: 0px!important;
}
* {
  box-sizing: border-box;
}
button:focus {
  outline: none;
}
.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: none;
}
.brand-slider {
  .swiper-wrapper {
    align-items: center;
  }
}
//Validation global styles
.error-message-input {
  position: absolute;
  bottom: -22px;
  left: 0;
  font-size: 12px;
  color: $main-red;
  font-weight: 400;
}
.active-main-color{
  color: $main-color !important;
}
.error-border {
  color: $main-red !important;
  border: 1px solid $main-red !important;
}

@media (min-width: $md) {

}

@media (min-width: $md) and (max-width: $lg) {
  .container {
    max-width: 960px!important;
  }
}

@media (min-width: $sm) and (max-width: $md){
  .container {
    max-width: 100%!important;
  }

  .braintree-form {
    [data-braintree-id="number-field-group"] {
      margin-bottom: 24px;
    }
    [data-braintree-id="postal-code-field-group"] {
      margin-top: 24px;
    }
    [data-braintree-id="expiration-date-field-group"] {
      flex-basis: 50%;
    }
    [data-braintree-id="cvv-field-group"] {
      flex-basis: 50%;
    }
  }

  #dropin-container {
    .braintree-option {
      height: 48px;
      &:hover {
        border-color: $main-color;
      }
      &:first-child {
        border-bottom-width: 0;
      }
    }
    .braintree-options-list {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        top: 48px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $interface-decoration-color;
      }
      &:hover {
        &:after {
          background: $main-color;
        }
      }
    }
    .braintree-toggle {
      span {
        border-bottom: 1px dashed $main-dark;
      }
    }
  }
}

@media (min-width: $xs) and (max-width: $sm) {
  .container {
    max-width: 100%!important;
  }
  #dropin-container {
    .braintree-card {
      height: 100%;
    }
    .braintree-sheet {
      max-height: 100%;
    }
    .braintree-toggle {
      span {
        border-bottom: 1px dashed $main-dark;
      }
    }
  }
}

@media (min-width: $xs) and (max-width: $xssm) {
  #toast-container > .toast-warning {
    position: relative;
    padding: 16px 24px 16px 58px;
    background-image: url('~@/assets/images/warning-icon.png') !important;
    width: 240px;
    height: 100%;
    background-size: 27px;
    display: flex;
    align-items: center;
    color: white;
    font-family: $sours-sans-p-font;
    font-size: 14px;
    line-height: 18px;
  }
  #toast-container > .toast-info {
    position: relative;
    padding: 16px 24px 16px 58px;
    background-image: url('~@/assets/images/error-icon.png') !important;
    width: 240px;
    height: 100%;
    background-size: 27px;
    display: flex;
    align-items: center;
    color: white;
    font-family: $sours-sans-p-font;
    font-size: 14px;
    line-height: 18px;
  }
  #toast-container > :hover {
    box-shadow: 0px 2px 3.76px 0.24px rgba(0, 0, 0, 0.24),0px 1px 4.9px 0.1px rgba(0, 0, 0, 0.16);
  }
  #toast-container .toast-close-button {
    right: 12px;
    top: 4px;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  #dropin-container {
    .braintree-form {
      [data-braintree-id="card-view-icons"] {
        margin-top: 16px;
      }
      [data-braintree-id="expiration-date-field-group"] {
        padding-right: 0;
        margin-bottom: 24px;
      }
      [data-braintree-id="cvv-field-group"] {
        padding-left: 0;
      }
    }
  }
}




